<div class="al-content">
  
    <div class="widgets"> 
      <div class="row">
        <div class="col-md-12"> 
        <div class="row window-body-margin">

            <div class="col-md-4 col-sm-16 motum-content-left-form">

              <!--
              <div class="row motum-label-form moreSpace">
                  <div class="col-sm-6">
                    <div class="has-success motum-input-form">
                       
                        <label class="window-bold-style motum-subtitle-form in-form"> 
                          <b>{{ rutaDef | translate}}</b>
                        
                        </label>
                                                               
                      
                    </div>
                    </div>
               </div> 

                      
                      <div class="row motum-label-form space">
                  

                          <div class="col-md-12 spaceTitle">
                            <label for="inputFiscalComercialName">
                            <b> {{ origenDef | translate }} : </b>
                            {{ routeSource }}
                            </label>
                          </div>
                         
                         
                      </div>

                      <div class="row motum-label-form space">
                  

                          
                          <div class=" col-md-12 col-sm-12">
                          <div class="form-group has-success motum-input-form">
                            <label class="window-bold-style motum-subtitle-form in-form"> 
                              Dirección: {{ routeSource }}</label>

                             
                          </div>
                        </div>
                      </div>

                      <div class="row motum-label-form">
                        <div class="col-md-12">
                          <label for="inputFiscalBusinessName">
                            <b>{{ destinoDef | translate }}: </b> 
                            {{ routeTarget }}
                          </label>
                        </div>
                        
                      </div>


                      <div class="row motum-label-form">
                          
                          <div class=" col-md-12 col-sm-12">
                            <div class="form-group has-success motum-input-form">
                              <label class="window-bold-style motum-subtitle-form in-form">
                                Direccion: {{ routeTarget }}</label>

                            </div>
                          </div>
                        </div>

                      -->

                      <hr style="border-top: 0px solid #ccc; background: transparent;">

                      <table border="0">
                          <tbody>
                            <tr>
                                 <td>
                                    Origen  
                                 </td>
                                 <td>
                                    <b>Kimberly Orizaba</b>
                                 </td>
                                 
                            </tr>
                            <tr>
                                <td>
                                     
                                </td>
                                <td>
                                    Calle Abc No. 23, Coatzacoalcos, Veracruz.    
                                                        </td>
                           </tr>
                           <tr>
                              <td>
                                 Destino  
                              </td>
                              <td>
                                 <b>Cedis Walmart</b>
                              </td>
                          
                         </tr>
                         <tr>
                            <td>
                                
                            </td>
                            <td>
                               
                                  Av. Siempre Viva No. 2045, Villahermosa, Tab
                                
                            </td>
                            
                            
                       </tr>
                       <tr>
                          <td></td>
                          <td>
                              <hr style="border-top: 0px solid #ccc; background: transparent;">

                              <a href="#/pages/travel_matrix/route-map">Ruta recorrida</a>
                 
                          </td>
                          
                     </tr>
                   
                      </tbody> 
                        </table> 
                     
                        <hr style="border-top: 0px solid #ccc; background: transparent;">
                        <hr style="border-top: 0px solid #ccc; background: transparent;">
                       

                        <div class="table-responsive table-style-motum">
                            <table class="table table-striped">
                                                            <tbody>
                                <tr>
                                     <td>
                                        01 : 47m  
                                     </td>
                                     <td>
                                            Kimberly Orizaba 
                                         </td>
                                         <td>
                                                Martes 15 de enero de 2019 12:37  
                                            </td>
                               
                                </tr>
                               
                                <tr>
                                        <td>
                                           20 m  
                                        </td>
                                        <td>
                                               Partida a almacen de material 
                                            </td>
                                            <td>
                                                   Martes 15 de enero de 2019 15:55  
                                               </td>
                               
                                   </tr>
                               
                                   <tr>
                                        <td>
                                           14m  
                                        </td>
                                        <td>
                                        Cargando planta de arroz      
                                                </td>
                                            <td>
                                                   Martes 15 de enero de 2019 20:30  
                                               </td>
                               
                                   </tr>
                               
                                   <tr>
                                        <td>
                                           14m  
                                        </td>
                                        <td>
                                               Partida Centro de distribucion 
                                            </td>
                                            <td>
                                                   Miercoles 16 de enero de 2019 00:36  
                                               </td>
                                   </tr>
                               
                                   <tr>
                                        <td>
                                           14m  
                                        </td>
                                        <td>
                                               Comedor la fondita 
                                            </td>
                                            <td>
                                                   Miercoles 16 de enero de 2019 04:40  
                                               </td>
                                   </tr>
                                  
                                <!--
                                <ng-template [ngIf]="confirmed.length < 1">
                                  <tr *ngFor="let item of confirmedDummi">
                                    <td>
                                      {{item.plataform}}
                                    </td>
                                    <td>
                                      <select2 class="select2Permits"  id="selectPermits"  ngDefaultControl [options]="optionsPermits" [width]="'100%'" [cssImport]=true  required>
                                        <option value=" " *ngFor="let item2 of item.permissions">{{item2.permission}}</option>
                                      </select2>
                                    </td>
                                  </tr>
                                </ng-template>
                            -->
                              </tbody>
                            </table>
                          </div>

          </div>

            <hr class="motum-hr-separator">  


            <div class="col-md-7 col-sm-12 motum-content-right-form-interface">
              <div class="window-left-margin">
<!--
                  <agm-map 
                  [latitude]="center.lat" 
                  [longitude]="center.lng" 
                  [zoom]="14">
                  <agm-polygon
                      [geodesic]="true"
                      [strokeColor]=""
                      [strokeOpacity]="0.3"
                      [fillOpacity]="0.0"
                      [strokeWeight]="3"
                      [paths]="markersOnMap">
                          <agm-marker
                              *ngFor="let marker of markersOnMap"
                              [latitude]="marker.lat" 
                              [longitude]="marker.lng">
                              <agm-info-window
                                  [maxWidth]="150">
                                  <div class="container">
                                      <p class="font-weight-bold">
                                          {{marker.name}}
                                      </p>
                                      <img 
                                          src="{{marker.image_url}}" 
                                          class="img-thumbnail"
                                          *ngIf="marker.image_url.length > 5">
                                  </div>
                              </agm-info-window>
                          </agm-marker>
                  </agm-polygon>
              </agm-map>
            -->
             <!-- <h3>map</h3>
              <h1>{{ title }}</h1> -->

              <!-- this creates a google map on the page with the given lat/lng from -->
              <!-- the component as the initial center of the map: -->
              <agm-map [latitude]="lat" [longitude]="lng" width="800" height="600">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
              <!--
              <h3>end ap</h3>
              -->
              <!--                                  
              
                <div  class="row motum-label-form">
                  <div class="col-md-12">
                    <img src="https://alicantenews.es/wp-content/uploads/2015/06/Google-Maps.jpg" width="800" height="600"> 
                   

                  </div>
                </div>
              -->
              </div>
            </div>
          
          </div>
        

      </div>
    </div>
   </div> 
</div>