<ng-template #modalPhotos let-c="close" let-d="dismiss" >
    <div class="modal-header">
      <div class="motum-modal-icon">
        <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
      </div>
<!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
-->  
   <h5 class="modal-title"> Importar archivo </h5>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
            <table border="0"> 
                    <!--  <thead class="thead-light"> -->
                      <thead> 
                            
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                  <div class="form-group has-success motum-input-form">
                                       
                                      <select [(ngModel)]="country" name="" id="inputCountry" class="form-control input-sm"  [ngModelOptions]="{standalone: true}" required>
                                          <option></option>
                                          <option>Carta Porte</option>
                                          <option>Ticket de gasolina</option>
                                          <option>Ticket de bascula</option>
                                          <option>Caseta</option>
                                        </select>

                                   
                                    </div>

                              </td>
                              <td>
                                          

                                      <div class="form-group has-success motum-input-form">
                                       
                                        
                                        <label for="file"> <i class="motum-i tm-e926"> Seleccionar </i> </label>
                                  
                                        <input type='file' id="file" (change)="onSelectFile($event)" style="display: none;">
       
                                        <button motum-button color="secondary" (click)="addPhoto()">
                                            +
                                          </button>
                                         
                                    </div>

                               
                              </td>
                              
                            </tr>

                            <tr>
                                    <td>
                                        <div class="form-group has-success motum-input-form">
                                                <img id="blah" [src]="url" height="200" width="200"> 
            
                                          </div>
      
                                    </td>
                                    <td>
                                                       
                                                        <div class="table-responsive table-style-motum">
                                                                <table class="table table-striped">
                                                                  <thead class="thead-light">
                                                                    
                                                                  <tbody>
                                                                      <tr *ngFor="let asset of arrAssets">
                                                                        <td style="vertical-align:top;">
                                                                                <i class="motum-i">

                                                                                        <div class="cell-motum-hover-statusMotorStop" (click)="selectPhoto(asset)">
                                                                                {{ asset.id }} - 
                                                                                {{ asset.name }} <br>
                                                                                {{ asset.datetime }} <br>
                                                                                subido por Adolfo (operador) 
                                                                                        </div> 
                                                                            
                                                                                    </i>
                                                                        </td>
                                                                        
                                                                      </tr>
                                                                
                                                                  </tbody>
                                                                </table>
                                                              </div>

                                                             

                                                   
          
                                    
                                    </td>
                                    
                                </tr>
                                <tr>
                                        <td>
                                                <form class="row form-inline align-items-center">

                                                <div class="col-1 col-sm-1 onApClick">
                                                        <i class="motum-i tm-e927 i-style table-tools-icons-margin" (click)="deletePhoto()"></i>
                                                      </div>
                                                      <div class="col-1 col-sm-1 onApClick">
                                                        <i class="motum-i tm-e91c" (click)='downloadFile();'></i>
                                                      </div>
                                               </form>        
          
                                        </td>
                                        <td>
                                                                                                  
                                        </td>
                                        
                                    </tr>
                          </tbody>
                        </table>

                        <!--
            <div class="motum-content-title">
          
                    <div class="motum-inputs-section-flex">
          
                            <div class="form-group">
                                    
                            </div>
          
                            
                    </div>
          
          
                   
                </div>
            <div class="row motum-content-body">
                    <div class="col-lg-6 col-md-12 col-sm-12 motum-border-middle">
                      
                        <span class="motum-w500"> motum corp </span>
                      
                      <div class="motum-inputs-section-flex">
                        <div class="row motum-label-input first animated fadeIn">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                            <div class="row">
          
                              <div class="col-md-10  col-sm-12 motum-label-form"> 
                                    <ul>
                                      <li *ngFor="let asset of arrAssets">
                                        {{ asset.id }} <br> 
                                        {{ asset.name }} <br>
                                        {{ asset.datetime }} <br>
                                        <br>
                                        </li>
                                    </ul>
                              </div> 
                            </div>  
                    </div>
            </div>
        -->
   
    </div>
    <div class="modal-footer window-center-align">
            <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
            Cancelar
            </button>
      <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
    </div>
  </ng-template>

<ng-template #modalSigns let-c="close" let-d="dismiss" >
      <div class="modal-header">
        <div class="motum-modal-icon">
          <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
        </div>
  <!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
  -->  
     <h5 class="modal-title"> Importar archivo </h5>
  
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
              <table border="0"> 
                      <!--  <thead class="thead-light"> -->
                        <thead> 
                              
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    <div class="form-group has-success motum-input-form">
                                         
                                        <label for="file"> <i class="motum-i"> Nombre de quien lo firma </i> </label>

                                                                             
                                    </div>
                                    <div class="form-group has-success motum-input-form">
                                        <input [(ngModel)]="orderNumber" type="text" class="form-control input-sm" id="inputComercialName" [ngModelOptions]="{standalone: true}" required>
                                        
                                      </div>
  
                                </td>
                                <td>
                                            
  
                                        <div class="form-group has-success motum-input-form">
                                         
                                          
                                          <label for="file"> <i class="motum-i tm-e926"> Seleccionar </i> </label>
                                    
                                          <input type='file' id="file" (change)="onSelectSign($event)" style="display: none;">
         
                                          <button motum-button color="secondary" (click)="addSign()">
                                              +
                                            </button>
                                           
                                      </div>
  
                                 
                                </td>
                                
                              </tr>
  
                              <tr>
                                      <td>
                                          <div class="form-group has-success motum-input-form">
                                                  <img id="signs" [src]="url" height="200" width="200"> 
              
                                            </div>
        
                                      </td>
                                      <td>
                                                         
                                                          <div class="table-responsive table-style-motum">
                                                                  <table class="table table-striped">
                                                                    <thead class="thead-light">
                                                                      
                                                                    <tbody>
                                                                        <tr *ngFor="let asset of arrSigns">
                                                                          <td style="vertical-align:top;">
                                                                                  <i class="motum-i">
  
                                                                                          <div class="cell-motum-hover-statusMotorStop" (click)="selectSign(asset)">
                                                                                  {{ asset.id }} - 
                                                                                  {{ asset.name }} <br>
                                                                                  {{ asset.datetime }} 
                                                                                          </div> 
                                                                              
                                                                                      </i>
                                                                          </td>
                                                                          
                                                                        </tr>
                                                                  
                                                                    </tbody>
                                                                  </table>
                                                                </div>
  
                                                               
  
                                                     
            
                                      
                                      </td>
                                      
                                  </tr>
                                  <tr>
                                          <td>
                                                  <form class="row form-inline align-items-center">
  
                                                  <div class="col-1 col-sm-1 onApClick">
                                                          <i class="motum-i tm-e927 i-style table-tools-icons-margin" (click)="deleteSign()"></i>
                                                        </div>
                                                        <div class="col-1 col-sm-1 onApClick">
                                                          <i class="motum-i tm-e91c" (click)='downloadFile();'></i>
                                                        </div>
                                                 </form>        
            
                                          </td>
                                          <td>
                                                                                                    
                                          </td>
                                          
                                      </tr>
                            </tbody>
                          </table>
  
                          <!--
              <div class="motum-content-title">
            
                      <div class="motum-inputs-section-flex">
            
                              <div class="form-group">
                                      
                              </div>
            
                              
                      </div>
            
            
                     
                  </div>
              <div class="row motum-content-body">
                      <div class="col-lg-6 col-md-12 col-sm-12 motum-border-middle">
                        
                          <span class="motum-w500"> motum corp </span>
                        
                        <div class="motum-inputs-section-flex">
                          <div class="row motum-label-input first animated fadeIn">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                              <div class="row">
            
                                <div class="col-md-10  col-sm-12 motum-label-form"> 
                                      <ul>
                                        <li *ngFor="let asset of arrAssets">
                                          {{ asset.id }} <br> 
                                          {{ asset.name }} <br>
                                          {{ asset.datetime }} <br>
                                          <br>
                                          </li>
                                      </ul>
                                </div> 
                              </div>  
                      </div>
              </div>
          -->
     
      </div>
      <div class="modal-footer window-center-align">
              <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
              Cancelar
              </button>
        <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
      </div>
    </ng-template>

 <ng-template #modalObs let-c="close" let-d="dismiss" >
        <div class="modal-header">
          <div class="motum-modal-icon">
            <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
          </div>
    <!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
    -->  
       <h5 class="modal-title"> Observaciones </h5>
    
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="modal-body">
                <table border="0"> 
                        <!--  <thead class="thead-light"> -->
                          <thead> 
                                
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                      <div class="form-group has-success motum-input-form">
                                           
                                          <label for="file"> <i class="motum-i"> Nombre de quien lo firma </i> </label>
  
                                                                               
                                      </div>
                                      <div class="form-group has-success motum-input-form">
                                          <input [(ngModel)]="obsNombre" type="text" class="form-control input-sm" id="obsNombre" [ngModelOptions]="{standalone: true}" required>
                                          
                                        </div>

                                        <div class="form-group has-success motum-input-form">
                                           
                                            <label for="file"> <i class="motum-i"> Observaciones </i> </label>
    
                                                                                 
                                        </div>
                                        <div class="form-group has-success motum-input-form">
                                            <input [(ngModel)]="obsComentario" type="text" class="form-control input-sm" id="obsComentario" [ngModelOptions]="{standalone: true}" required>
                                            
                                          </div>
    
                                  </td>
                                  <td>
                                              
    
                                          <div class="form-group has-success motum-input-form">
                                                                                                                                  
                                            <button motum-button color="secondary" (click)="addObs()">
                                                +
                                              </button>
                                             
                                        </div>
    
                                   
                                  </td>
                                  
                                </tr>
    
                              </tbody>
                            </table>

                            <div class="table-responsive table-style-motum">
                                <table class="table table-striped">
                                  <thead class="thead-light">
                              <tbody>
        
                                                                          <tr *ngFor="let asset of arrObs">
                                                                            <td style="vertical-align:top;">
                                                                                    <i class="motum-i">
    
                                                                                            <div class="cell-motum-hover-statusMotorStop" (click)="selectSign(asset)">
                                                                                    {{ asset.id }} - 
                                                                                    {{ asset.name }} <br>
                                                                                            </div> 
                                                                                
                                                                                        </i>
                                                                            </td>
                                                                            <td>
                                                                                {{ asset.datetime }} 
                                                                                    
                                                                            </td>
                                                                            
                                                                          </tr>
                                                                    
                                                                      
    
                                                                 
    
                                                       
              
                                        
                                        
                                    
                              </tbody>
                            </table>
                          </div>

                            <!--
                <div class="motum-content-title">
              
                        <div class="motum-inputs-section-flex">
              
                                <div class="form-group">
                                        
                                </div>
              
                                
                        </div>
              
              
                       
                    </div>
                <div class="row motum-content-body">
                        <div class="col-lg-6 col-md-12 col-sm-12 motum-border-middle">
                          
                            <span class="motum-w500"> motum corp </span>
                          
                          <div class="motum-inputs-section-flex">
                            <div class="row motum-label-input first animated fadeIn">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                                <div class="row">
              
                                  <div class="col-md-10  col-sm-12 motum-label-form"> 
                                        <ul>
                                          <li *ngFor="let asset of arrAssets">
                                            {{ asset.id }} <br> 
                                            {{ asset.name }} <br>
                                            {{ asset.datetime }} <br>
                                            <br>
                                            </li>
                                        </ul>
                                  </div> 
                                </div>  
                        </div>
                </div>
            -->
       
        </div>
        <div class="modal-footer window-center-align">
                <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
                Cancelar
                </button>
          <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        </div>
      </ng-template>
  

 
<div class="full-width-panel" >
 
  <ag-grid-angular *ngIf ="translated"
  id="tableDetail"
  class="full-width-grid"

      [gridOptions]="gridOptions"
      [icons]="customIcons"
      [suppressRowClickSelection]="true"
      [suppressAggFuncInHeader]="true"
  
      (cellClicked)="onCellClicked($event)"

      (gridSizeChanged)="onGridResize($event)">
  </ag-grid-angular>
</div>