<ng-template #modalUpdateAdmin let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
    </div>
<!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
-->  
 <h5 class="modal-title"> Cambio estado administrativo </h5>

    <button type="button" class="close" aria-label="Close" (click)="c('true')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
<!--
      <div class="motum-content-title">
          

                  <div class="form-group">
                    <h5 class="modal-title">Seleccionar un estado</h5>

                  </div>




         
      </div>
    -->
   

              
        <div class="row">
          <div class="col">    
            <button  [disabled]="disableStateAdmin1" style="width:100%;" (click)="setStatusAdmin(1, 'Asignado')"><i class="fa fa-home"></i> Asignado</button>
          </div>
          <div class="col">
              <button [disabled]="disableStateAdmin2" style="width:100%;" (click)="setStatusAdmin(2, 'Iniciado')"><i class="fa fa-bars"></i> Iniciado</button>

          </div>
        </div>
        
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
              <button [disabled]="disableStateAdmin3" style="width:100%;" (click)="setStatusAdmin(3, 'En tránsito')"><i class="fa fa-trash"></i> En tránsito</button>

          </div>
          <div class="col">
              <button [disabled]="disableStateAdmin4" style="width:100%;" (click)="setStatusAdmin(4, 'Finalizado')"><i class="fa fa-close"></i> Finalizado</button>

          </div>
        </div>
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
            <button [disabled]="disableStateAdmin5" style="width:100%;" (click)="setStatusAdmin(5,'Cancelado')"><i class="fa fa-folder"></i> Cancelado </button>
          </div>
          <div class="col">
          
          </div>
        </div>
                  

            
  </div>
<!--
  <div class="modal-footer window-center-align">
          <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
          Cancelar
          </button>
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        
  </div>
-->
</ng-template>


<ng-template #modalUpdateOper let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
    </div>
<!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
-->  
 <h5 class="modal-title"> Cambio estado operativo </h5>

    <button type="button" class="close" aria-label="Close" (click)="c('true')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
              
        <div class="row">
          <div class="col">    
            <button  [disabled]="disableStateOper1" style="width:100%;" (click)="setStatusOper(1, 'Disponible')"><i class="fa fa-home"></i> Disponible</button>
          </div>
          <div class="col">
              <button [disabled]="disableStateOper2" style="width:100%;" (click)="setStatusOper(2, 'En curso vacío')"><i class="fa fa-bars"></i> En curso vacío</button>

          </div>
        </div>
        
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
              <button [disabled]="disableStateOper3" style="width:100%;" (click)="setStatusOper(3, 'En fila para carga')"><i class="fa fa-trash"></i> En fila para carga</button>

          </div>
          <div class="col">
              <button [disabled]="disableStateOper4" style="width:100%;" (click)="setStatusOper(4, 'Cargando')"><i class="fa fa-close"></i> Cargando</button>

          </div>
        </div>
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
              <button [disabled]="disableStateOper5" style="width:100%;" (click)="setStatusOper(5, 'En curso cargando')"><i class="fa fa-trash"></i> En curso cargando</button>

          </div>
          <div class="col">
              <button [disabled]="disableStateOper6" style="width:100%;" (click)="setStatusOper(6, 'En fila para descarga')"><i class="fa fa-close"></i> En fila para descarga</button>

          </div>
        </div>
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
            <button [disabled]="disableStateOper7" style="width:100%;" (click)="setStatusOper(7,'Descargando')"><i class="fa fa-folder"></i> Descargando </button>
          </div>
          <div class="col">
          
          </div>
        </div>
                  

            
  </div>
<!--
  <div class="modal-footer window-center-align">
          <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
          Cancelar
          </button>
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        
  </div>
-->
</ng-template>

<ng-template #modalConfirmStatus let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
    </div>
 <h5 class="modal-title"> Confirma cambio de estado  </h5>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

        <label for="inputFiscalComercialName">
         Confirma cambiar estado a : <b>
        {{ statusDescription }} </b>
        </label>
            
  </div>

  <div class="modal-footer window-center-align">
          <button type="button" class="btn motum-btn-cancel button-long " (click)="c(false)">
          Cancelar
          </button>
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        
  </div>

</ng-template>

  
  <ag-grid-angular style="width:100%;height: calc(100vh - 210px)"  *ngIf="showTableTranslated"
    class="ag-theme-material" 
    [gridOptions]="gridOptions"
    [rowSelection]="rowSelection"
    [icons]="customIcons"
    [suppressRowClickSelection]="true"
    [suppressAggFuncInHeader]="true"
    [animateRows]="true"

  
    [isFullWidthCell]="isFullWidthCell"
    [getRowHeight]="getRowHeight"
    [getNodeChildDetails]="getNodeChildDetails"
    [fullWidthCellRendererFramework]="getFullWidthCellRenderer()"
  
    (cellClicked)="onCellClicked($event)"
    (rowSelected)="onRowSelected($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (gridSizeChanged)="onGridResize($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

