<ng-template #modalUpdateAdmin let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
    </div>
<!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
-->  
 <h5 class="modal-title"> Cambio estado administrativo </h5>

    <button type="button" class="close" aria-label="Close" (click)="c('true')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>
    <h5>Seleccionar un estado</h5>
  </div>
  <div class="modal-body">
    <div class="modal-dialog" id="modal">
<!--
      <div class="motum-content-title">
          

                  <div class="form-group">
                    <h5 class="modal-title">Seleccionar un estado</h5>

                  </div>




         
      </div>
    -->
   

              
        <div class="row">
          <div class="col">    
            <button id="btn"  [disabled]="disableStateAdmin1" (click)="setStatusAdmin(1, 'Asignado')"><img class="original" src="https://storage.googleapis.com/kubeet/motum/assets/4LO-13.svg"><label>En transito</label></button>
          </div>
          <div class="col">
              <button id="btn" [disabled]="disableStateAdmin2" (click)="setStatusAdmin(2, 'Iniciado')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-12.svg"><label>Asignado</label></button>

          </div>
        
        
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        
          <div class="col">
              <button id="btn" [disabled]="disableStateAdmin3" (click)="setStatusAdmin(3, 'En tránsito')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-11.svg"><label>Iniciado</label></button>

          </div>
          <div class="col">
              <button id="btn" [disabled]="disableStateAdmin4" (click)="setStatusAdmin(4, 'Finalizado')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-15.svg"><label>Finalizado</label></button>

          </div>
        </div>
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
            <button id="btn" [disabled]="disableStateAdmin5" (click)="setStatusAdmin(5,'Cancelado')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-14.svg"><label>Cancelado</label></button>
          </div>
          <div class="col">
          
          </div>
        </div>
                  

    </div>     
  </div>
<!--
  <div class="modal-footer window-center-align">
          <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
          Cancelar
          </button>
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        
  </div>
-->
</ng-template>


<ng-template #modalUpdateOper let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
    </div>
<!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
-->  
 <h5 class="modal-title"> Cambio estado operativo </h5>

    <button type="button" class="close" aria-label="Close" (click)="c('true')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
              
        <div class="row">
          <div class="col">    
            <button id="btn" [disabled]="disableStateOper1" (click)="setStatusOper(1, 'Disponible')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-16.svg"><label>Disponible</label></button>
          </div>
          <div class="col">
              <button id="btn" [disabled]="disableStateOper2" (click)="setStatusOper(2, 'En curso vacío')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-17.svg"><label>En curso vacío</label></button>

          </div>
        
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        
          <div class="col">
              <button id="btn" [disabled]="disableStateOper3" (click)="setStatusOper(3, 'En fila para carga')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-18.svg"><label>En fila para carga</label></button>

          </div>
          <div class="col">
              <button id="btn" [disabled]="disableStateOper4" (click)="setStatusOper(4, 'Cargando')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-19.svg"><label>Cargando</label></button>

          </div>
        </div>
        <hr style="border-top: 0px solid #ccc; background: transparent;">

        <div class="row">
          <div class="col">
              <button id="btn" [disabled]="disableStateOper5" (click)="setStatusOper(5, 'En curso cargando')"><img src="https://storage.googleapis.com/kubeet/motum/assets/Estado-17.png"><label>En curso cargado</label></button>

          </div>
          <div class="col">
              <button id="btn" [disabled]="disableStateOper6" (click)="setStatusOper(6, 'En fila para descarga')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-20.svg"><label>En fila para descargar</label></button>

          </div>
        <hr style="border-top: 0px solid #ccc; background: transparent;">

          <div class="col">
            <button id="btn" [disabled]="disableStateOper7" (click)="setStatusOper(7,'Descargando')"><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-21.svg"><label>Descargando</label></button>
          </div>
          <div class="col">
            <button id="btn" ><img src="https://storage.googleapis.com/kubeet/motum/assets/4LO-22.svg"><label>En curso vacio</label></button>
          </div>
        </div>
                  

            
  </div>
<!--
  <div class="modal-footer window-center-align">
          <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
          Cancelar
          </button>
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        
  </div>
-->
</ng-template>

<ng-template #modalConfirmStatus let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
    </div>
 <h5 class="modal-title"> Confirma cambio de estado  </h5>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

        <label for="inputFiscalComercialName">
         Confirma cambiar estado a : <b>
        {{ statusDescription }} </b>
        </label>
            
  </div>

  <div class="modal-footer window-center-align">
          <button type="button" class="btn motum-btn-cancel button-long " (click)="c(false)">
          Cancelar
          </button>
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
        
  </div>

</ng-template>

  
  <ag-grid-angular style="width:100%;height: calc(100vh - 210px)"  *ngIf="showTableTranslated"
    class="ag-theme-material" 
    [gridOptions]="gridOptions"
    [rowSelection]="rowSelection"
    [icons]="customIcons"
    [suppressRowClickSelection]="true"
    [suppressAggFuncInHeader]="true"
    [animateRows]="true"

  
    [isFullWidthCell]="isFullWidthCell"
    [getRowHeight]="getRowHeight"
    [getNodeChildDetails]="getNodeChildDetails"
    [fullWidthCellRendererFramework]="getFullWidthCellRenderer()"
  
    (cellClicked)="onCellClicked($event)"
    (rowSelected)="onRowSelected($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (gridSizeChanged)="onGridResize($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

