<ng-template #modalPhotos let-c="close" let-d="dismiss" >
    <div class="modal-header">
      <div class="motum-modal-icon">
        <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
      </div>
<!--      <h5 class="modal-title"> {{'pages.confirmationwindow.header' | translate }} </h5>
-->  
   <h5 class="modal-title"> Importar archivo </h5>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
            <table border="0"> 
                    <!--  <thead class="thead-light"> -->
                      <thead> 
                            
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                  <div class="form-group has-success motum-input-form">
                                       
                                      <select [(ngModel)]="country" name="" id="inputCountry" class="form-control input-sm"  [ngModelOptions]="{standalone: true}" required>
                                          <option></option>
                                          <option>Carta Porte</option>
                                          <option>Ticket de gasolina</option>
                                          <option>Ticket de bascula</option>
                                          <option>Caseta</option>
                                        </select>

<!--                                   
                                    </div>

                                          

                                      <div class="form-group has-success motum-input-form">
                                       
                                      -->
                                        <label for="file"> <i class="motum-i tm-e926"> Seleccionar </i> </label>
                                  
                                        <input type='file' id="file" (change)="onSelectFile($event)" style="display: none;">
       
                                        <button motum-button color="secondary" (click)="addPhoto()">
                                            +
                                          </button>
                                         
                                    </div>

                               
                              </td>
                              
                            </tr>

                            <tr>
                                    <td>
                                        <div class="form-group has-success motum-input-form">
                                                <img id="blah" [src]="url" height="250" width="400"> 
            
                                          </div>
      
                                    </td>
                                    <!--
                                    <td>
                                                       
                                                        <div class="table-responsive table-style-motum">
                                                                <table class="table table-striped">
                                                                  <thead class="thead-light">
                                                                    
                                                                  <tbody>
                                                                      <tr *ngFor="let asset of arrAssets">
                                                                        <td style="vertical-align:top;">
                                                                                <i class="motum-i">

                                                                                        <div class="cell-motum-hover-statusMotorStop" (click)="selectPhoto(asset)">
                                                                                {{ asset.id }} - 
                                                                                {{ asset.name }} <br>
                                                                                {{ asset.datetime }} <br>
                                                                                subido por Adolfo (operador) 
                                                                                        </div> 
                                                                            
                                                                                    </i>
                                                                        </td>
                                                                        
                                                                      </tr>
                                                                
                                                                  </tbody>
                                                                </table>
                                                              </div>

                                                             

                                                   
          
                                    
                                    </td>
                                  -->
                                </tr>
                                <!--
                                <tr>
                                        <td>
                                                <form class="row form-inline align-items-center">

                                                <div class="col-1 col-sm-1 onApClick">
                                                        <i class="motum-i tm-e927 i-style table-tools-icons-margin" (click)="deletePhoto()"></i>
                                                      </div>
                                                      <div class="col-1 col-sm-1 onApClick">
                                                        <i class="motum-i tm-e91c" (click)='downloadFile();'></i>
                                                      </div>
                                               </form>        
          
                                        </td>
                                        <td>
                                                                                                  
                                        </td>
                                        
                                    </tr>
                                  -->
                          </tbody>
                        </table>

         
   
    </div>
    <div class="modal-footer window-center-align">
            <button type="button" class="btn motum-btn-cancel button-long " (click)="c(true)">
            Cancelar
            </button>
      <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindow.sendbutton' | translate}}</button>
    </div>
  </ng-template>

<motum-modal-form *ngIf="windowPosition != null"  [align]="'center'" [hasTabs]="false" [cols]="2">
    <div modal-form-header>
        <div class="row" *ngIf="editar && windowPosition === 'right'">
            <div class="motum-avatar-section">
                <motum-avatar [name]="initials"
                              [type]="'NAME'"></motum-avatar>
              </div>
              <div class="motum-avatar-labelEdit">
                  <div class="name">
                  xx        
              </div>
                  <div>
                yyy
                  </div>
            </div>
        </div>
        <div class="row" *ngIf="!editar">
            <div class="motum-avatar-section">
              <motum-avatar [name]="'motum-i tm-e932'"
                            [textColor]="'#ffffff'"
                            [bgColor]="'#6666f7'"
                            [isIconResize]="true"
                            [hasBorder]="false"
                            [type]="'ICON'"></motum-avatar>
            </div>
            <div>
              <div class="motum-avatar-labelCreate"> <!--{{ title | translate }} --> Fotografías </div>
            </div>
        </div>
    </div> <!--END MODAL-FORM-HEADER-->
    <div modal-form-content>
        <div class="motum-content-title">
            <div class="form-group has-success motum-input-form">
                Nueva Fotografía                                                                                                
                <button motum-button color="secondary" (click)="addNewPhoto()">
                    +
                  </button>
                 
            </div>
        </div>
      <div class="row"> 
        <div class="column">
            <div class="heroes" (click)="onSelect(1)">
                <img [src]="imgUrl1" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(4)">
                <img [src]="imgUrl4" style="width:100%">
            </div>
            
            <div class="heroes" (click)="onSelect(7)">
                <img [src]="imgUrl7" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(10)">
                <img [src]="imgUrl10" style="width:100%">
            </div>
          
        </div>
        <div class="column">
            <div class="heroes" (click)="onSelect(2)">
                <img [src]="imgUrl2" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(5)">
                <img [src]="imgUrl5" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(8)">
                <img [src]="imgUrl8" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(11)">
                <img [src]="imgUrl11" style="width:100%">
            </div>
        </div>
        <div class="column">
            <div class="heroes" (click)="onSelect(3)">
                <img [src]="imgUrl3" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(6)">
                <img [src]="imgUrl6" style="width:100%">
            </div>
            
            <div class="heroes" (click)="onSelect(9)">
                <img [src]="imgUrl9" style="width:100%">
            </div>
            <div class="heroes" (click)="onSelect(12)">
                <img [src]="imgUrl12" style="width:100%">

            </div>
        </div>

       
      </div>
      
      <!--
      <ul class="heroes">
        <li *ngFor="let hero of arrSigns"
          [class.selected]="hero === selectedHero"
          (click)="onSelect(hero)">
          <img src={{hero.url}} height="150" width="150">
        </li>
      </ul> -->
    
    <!--
    <div *ngFor="let hero of arrSigns">
      <img src={{hero.url}}>
    </div> -->
    
      <div *ngIf="selectedHero">
       
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedHero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name">
          </label>
        </div>
       
      </div>
    
    
    </div> <!--END MODAL-FORM-CONTENT-->
    <div class="motum-floating-btns" align="right" modal-form-footer>
      <button motum-button
          [color]="'danger'"
          [outline]="true"
          routerLink="/pages/travel_matrix/clients-products">
          Cerrar
      </button>
      
  </div> <!--END MODAL-FORM-FOOTER-->
</motum-modal-form>

