<ng-template #modalSendInvitation let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="motum-modal-icon">
        <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
      </div>
      <h5 class="modal-title">{{ header | translate }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <p>{{ content | translate }} ejemplo@bwl.com {{ contents | translate }}</p>
    </div>
    <div class="modal-footer longbutton">
      <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ accept | translate }}</button>
    </div>
</ng-template>
<ng-template #modalPassword let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="motum-modal-icon">
      <i class="motum-i tm-mu tm-mensajes changeofpropertiesmessage"></i>
    </div>
    <h5 class="modal-title"> {{'pages.confirmationwindowClient.header' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'pages.confirmationwindowClient.content' | translate}} {{clientModel.account.email}} {{ 'pages.confirmationwindowClient.contents' | translate}}</p>
  </div>
  <div class="modal-footer window-center-align">
    <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindowClient.sendbutton' | translate}}</button>
  </div>
</ng-template>

<div #backdrop class="any">
  <div class="formClient">
  <div [@slideHiddenShow] = 'windowState' #window class="window-edit">
    <div class="window-lt">
      <div class="window-header">
        <div class="row" *ngIf="editar">
          <div >
            <div class="avatar {{setColorAvatar}}">{{initials}}</div>
          </div>
          <div >
            <div class="nameUser">{{clientModel.commercialName}}</div>
            <div class="rolUser">{{clientModel.businessName}}</div>
          </div>
        </div>
        <div class="row" *ngIf="!editar">
          <div >
            <div class="avatarNew"><i class="motum-i tm-e932 userIcon "></i></div>
          </div>
          <div >
            <div class="nameUserNew">{{ title | translate }}</div>
          </div>
        </div>
      </div>
      <ngb-tabset #t="ngbTabset" [justify]="'end'"  >

          <ngb-tab id="tabCliente" title="{{ viaje | translate }}">

              <ng-template ngbTabContent>
                <div class="window-body">
                  <div class="section-head">
                    <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                    <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                    <hr class="window-section-space motum-hr-head-form">
                  </div>
    
    
                  <div class="section-body">
                    <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                      <div class="row window-body-margin">
                        <div class="col-md-6 col-sm-12 motum-content-left-form">
                            <label class="window-bold-style motum-subtitle-form in-form">{{ companyInformation | translate }}</label>
                          <div class="row motum-label-form">
                            <div class="col-md-12 spaceTitle">
                              <label for="inputComercialName">{{ begin | translate }}  </label>
                            </div>
                            <div class=" col-md-12 col-sm-12">
                              <div class="form-group has-success motum-input-form">
                                <input [(ngModel)]="beginData" type="date" class="form-control input-sm" id="inputComercialName" [ngModelOptions]="{standalone: true}" required>
                                
                              </div>
                            </div>
                          </div>
                          <div class="row motum-label-form">
                            <div class="col-md-12">
                              <label for="inputBusinessName">{{ end | translate }}</label>
                            </div>
                            <div class=" col-md-12 col-sm-12">
                              <div class="form-group has-success motum-input-form">
                                <input [(ngModel)]="endData" type="date" class="form-control input-sm" id="inputBusinessName" [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                          </div>
    
                          <div class="row motum-label-form">
                              <div class="col-sm-9">
                                <div class="has-success motum-input-form">
                                  <label for="inputCountry" >{{ operador | translate }}</label>
                                
                                  
                            <select [(ngModel)]="driverId" name="driverId" id="inputCountry" class="form-control input-sm" (change)="selectDriverData();">
                                <option selected="" value=""></option>  
                                <option [ngValue]="k.driverid" *ngFor="let k of arrDrivers">  
                                  {{k.name}} {{k.lastname}}  
                                </option>  
                             </select>
                            
                            
                            </div>
                              </div>
                            </div>
                          
                          <div class="row motum-label-form">
                              <div class="col-sm-9">
                                <div class="has-success motum-input-form">
                                  <label for="inputCountry" >{{ unidad | translate }}</label>
                                  
                                  <select [(ngModel)]="truckId" name="truckId" id="inputCountry" class="form-control input-sm" (change)="selectTruckData();">
                                    <option selected="" value=""></option>  
                                    <option [ngValue]="k.trucknumber" *ngFor="let k of arrTrucks">  
                                      {{k.trucknumber}}  
                                    </option>  
                                 </select>
                           
                                  <!--
                                  <select name="" id="inputCountry" class="form-control input-sm">
                                    <option></option>
                                    <option>u100 - HESA</option>
                                    <option>u101 - HESA</option>
                                    <option>u102 - HESA</option>
                                    <option>u103 - HESA</option>
                                  </select> -->
                                </div>
                              </div>
                            </div>
                            
                          <div class="row motum-label-form">
                            <div class="col-sm-9">
                              <div class="has-success motum-input-form">
                                <label for="inputCountry" >{{ remolque1 | translate }}</label>
                         
                                <select [(ngModel)]="trailer1Id" name="trailer1Id" id="inputCountry" class="form-control input-sm" (change)="selectTrailer1Data();">
                                  <option selected="" value=""></option>  
                                  <option [ngValue]="k.trailernumber" *ngFor="let k of arrTrailers">  
                                    {{k.trailernumber}}  
                                  </option>  
                               </select>
                         
                              
                                <!--
                                <select name="" id="inputCountry" class="form-control input-sm">
                                  <option></option>
                                  <option>R01 - Remolque 1</option>
                                  <option>R02 - Remolque 2</option>
                                  <option>R03 - Remolque 3</option>
                                  <option>R04 - Remolque 4</option>
                                </select>

                              -->
                              </div>
                            </div>
                          </div>
    
                          <div class="row motum-label-form moreSpace">
                              <div class="col-sm-12">
                                <div class="has-success motum-input-form">
                                  <label for="inputState">{{ dolly | translate }}</label>
                                  <select [(ngModel)]="dollyId" name="dollyId" id="inputCountry" class="form-control input-sm" (change)="selectDollyData();">
                                    <option selected="" value=""></option>  
                                    <option [ngValue]="k.dollynumber" *ngFor="let k of arrDollys">  
                                      {{k.dollynumber}}  
                                    </option>  
                                 </select>
                           
                                  <!--
                                  <select name="inputState" id="inputState" class="form-control input-sm">
                                    <option></option>
                                    <option>D01 - Dolly 1</option>
                                    <option>D02 - Dolly 2</option>
                                    <option>D03 - Dolly 3</option>
                                    <option>D04 - Dolly 4</option>
                                    <option>D05 - Dolly 5</option>
                                  </select>-->
                                </div>
                              </div>
                            </div>
      
                          
                          <div class="row motum-label-form moreSpace">
                            <div class="col-sm-12">
                              <div class="has-success motum-input-form">
                                <label for="inputState">{{ remolque2 | translate }}</label>

                                <select [(ngModel)]="trailer2Id" name="trailer2Id" id="inputCountry" class="form-control input-sm" (change)="selectTrailer2Data();">
                                  <option selected="" value=""></option>  
                                  <option [ngValue]="k.trailernumber" *ngFor="let k of arrTrailers">  
                                    {{k.trailernumber}}  
                                  </option>  
                               </select>
                         
                                <!--
                                <select name="inputState" id="inputState" class="form-control input-sm">
                                  <option></option>
                                  <option>R01 - Remolque 1</option>
                                  <option>R02 - Remolque 2</option>
                                  <option>R03 - Remolque 3</option>
                                  <option>R04 - Remolque 4</option>
                                </select>-->
                              </div>
                            </div>
                          </div>
    <!--
                          <div class="row motum-label-form space">
                            <div class="col-sm-12">
                              <div class=" has-success motum-input-form">
                                <label for="inputCity">{{ city | translate }}</label>
                                <select name="inputCity" id="inputCity" class="form-control input-sm">
                                  <option></option>
                                  <option>Orizaba</option>
                                  <option>Rio Blanco</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        -->
                        </div>
                        
                        
                        <hr class="motum-hr-separator"> 
    
    
                        <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                          <div class="window-left-margin">
    
                            <div class="row motum-label-form">
                              <div class="col-md-12">
                                <label for="inputColony">{{ beginDet | translate }}</label>
                              </div>
                              
                              <div class="col-md-12 col-sm-12">
                                
                                <label for="beginData">{{ beginData }}</label>
    
                              </div>
                            
                            
                            </div>
                            <div class="row motum-label-form">
                              <div class="col-md-12">
                                <label for="inputMunicipality">{{ endDet | translate }}</label>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                  <label for="endData"> {{ endData }} </label>
    
    
                              </div>
                            </div>
                            <div class="row motum-label-form">
                              <div class="col-md-8  col-sm-12 spaceTelPadding">
                                <div class=" has-success motum-input-form motum-intl-tel-input">
                                  <label for="">{{ operadorDet | translate }}</label><br>
                                <!--
                                  <motum-intl-tel-input [id]="'tm-intl-tel-input-fixed'"
                                  [cssClasses]="'form-control input-sm'"></motum-intl-tel-input>
                                -->
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <div class=" has-success motum-input-form">
                                  <label for="inputnumberExtension">{{ driverId }}</label><br>
                                  <label for="inputnumberExtension">{{ driverName }}</label><br>
                                  <label for="inputnumberExtension">{{ driverLicense }}</label><br>
                                
                                  <!--
                                  <input [(ngModel)]="clientModel.numberExtension" type="text" class="form-control input-sm" id="inputnumberExtension" [ngModelOptions]="{standalone: true}" required>
                                 -->
                                </div>
                              </div>
                            </div>
    
                            <div class="row motum-label-form">
                                <div class="col-md-8  col-sm-12 spaceTelPadding">
                                  <div class=" has-success motum-input-form motum-intl-tel-input">
                                    <label for="">{{ unidadDet | translate }}</label><br>
                                  <!--
                                    <motum-intl-tel-input [id]="'tm-intl-tel-input-fixed'"
                                    [cssClasses]="'form-control input-sm'"></motum-intl-tel-input>
                                  -->
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                  <div class=" has-success motum-input-form">
                                   <!-- <label for="inputnumberExtension">{{ unidadDet | translate }}</label><br>
                                    <input [(ngModel)]="clientModel.numberExtension" type="text" class="form-control input-sm" id="inputnumberExtension" [ngModelOptions]="{standalone: true}" required>
                                   -->
                                   <div class=" has-success motum-input-form">
                                    <label for="inputnumberExtension">{{ truckBrand }}</label><br>
                                    <label for="inputnumberExtension">{{ truckModel }}</label><br>
                                    <label for="inputnumberExtension">{{ truckYear }}</label><br>
                                    <label for="inputnumberExtension">{{ truckPlate }}</label><br>
                                  
                                    <!--
                                    <input [(ngModel)]="clientModel.numberExtension" type="text" class="form-control input-sm" id="inputnumberExtension" [ngModelOptions]="{standalone: true}" required>
                                   -->
                                  </div>
                                  </div>
                                </div>
                              </div>
      
                              <div class="row motum-label-form space">
                                <div class="col-md-8  col-sm-12 spaceTelPadding">
                                  <div class="has-success motum-input-form motum-intl-tel-input">
                                    <label for="">{{ remolque1Det | translate }}</label><br>
                                  
                                   
                                </div>
                                </div>
      
                                <div class="col-sm-4 motum-label-form space">
                                  <div class="has-success motum-input-form">
                                   
                                    <div class=" has-success motum-input-form">
                                      <label for="inputnumberExtension">{{ trailer1Brand }}</label><br>
                                      <label for="inputnumberExtension">{{ trailer1Type }}</label><br>
                                      <label for="inputnumberExtension">{{ trailer1Model }}</label><br>
                                      <label for="inputnumberExtension">{{ trailer1Year }}</label><br>
                                      <label for="inputnumberExtension">{{ trailer1Plate }}</label><br>
                                    
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>

                            <div class="row motum-label-form space">
                              <div class="col-md-8  col-sm-12 spaceTelPadding">
                                <div class="has-success motum-input-form motum-intl-tel-input">
                                  <label for="inputServer">{{ dollyDet | translate }}</label>
                                
                                 
                              </div>
                              </div>
    
                              <div class="col-sm-4 motum-label-form space">
                                <div class="has-success motum-input-form">
                                 
                                  <div class=" has-success motum-input-form">
                                    <label for="inputnumberExtension">{{ dollyBrand }}</label><br>
                                    <label for="inputnumberExtension">{{ dollyModel }}</label><br>
                                    <label for="inputnumberExtension">{{ dollyYear }}</label><br>
                               
                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row motum-label-form space">
                              <div class="col-md-8">
                                <label for="inputSector">{{ remolque2Det | translate }}</label>
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <div class=" has-success motum-input-form">
                                  <label for="inputnumberExtension">{{ trailer2Brand }}</label><br>
                                  <label for="inputnumberExtension">{{ trailer2Type }}</label><br>
                                  <label for="inputnumberExtension">{{ trailer2Model }}</label><br>
                                  <label for="inputnumberExtension">{{ trailer2Year }}</label><br>
                                  <label for="inputnumberExtension">{{ trailer2Plate }}</label><br>
                                
                                 
                                </div>
                              </div>
                            </div>
                            <!--
                            <div class="row motum-label-form">
                              <div class="col-md-12">
                                <label for="inputMarketSegment">{{ marketSegment | translate}}</label>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                <div class="form-group has-success motum-input-form">
                                  <input [(ngModel)]="clientModel.marketSegment" type="text" class="form-control input-sm" id="inputMarketSegment" [ngModelOptions]="{standalone: true}" required>
                                </div>
                              </div>
                            </div>
                            <div class="row motum-label-form moreSpace">
                              <div class="col-md-12">
                                <label for="inputDivision">{{ division | translate }}</label>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                <div class="form-group has-success motum-input-form">
                                  <input [(ngModel)]="clientModel.division" type="text" class="form-control input-sm" id="inputDivision" [ngModelOptions]="{standalone: true}" required>
                                </div>
                              </div>
                            </div>
                            <div class="row motum-label-form moreSpace">
                              <div class="col-md-12">
                                <label for="inputEmployeeNumber">{{ employeeNumber | translate }}</label>
                              </div>
                              <div class="col-md-10 col-sm-12">
                                <div class="form-group has-success motum-input-form">
                                  <input [(ngModel)]="clientModel.employeeNumber" type="text" class="form-control input-sm" id="inputEmployeeNumber" [ngModelOptions]="{standalone: true}" required>
                                </div>
                              </div>
                            </div>
                            -->
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="section-footer">
                    <div class="row">
                      <div class="col-md-9 hidden-md-down">
                      </div>
                      <div class="col-md-1 col-sm-4">
                        <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                      </div>
                      <div class="col-md-1 col-sm-4">
                        <button type="button" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabFacturacion')">{{ next | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            
            <ngb-tab id="tabFacturacion" title="{{ ruta | translate }}">

                <ng-template ngbTabContent>
                  <div class="window-body">
                    <div class="section-head motum-margin-bottom-one">
                      <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                      <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                      <hr class="window-section-space hrSectionHead">
      
                    </div>
                    <div class="section-body">
<!--
                        <div id="agm-map" class="motum-grid-item m-row-12 m-column-12 m-item-z-index-5" >
                            <div class="motum-fixed-map-tools m-item-z-index-5">
                                <mr-tool-map-control-component [mapElement]="_el"
                                                               (vehicleViews)="changeMarkerType($event)"
                                                               (listOfPoints)="loadPointsOfView($event)"
                                                               (setMonitoringLocation)="setLocationMap($event)"
                                                               (trafficLayerView)="trafficLayerView($event)"
                                                               (optionViewMap)="optionVisualizeMap($event)"
                                                                (refreshMap)="refreshMap()"
        
                                                               (vehicleLabels)="getVehicleLabels($event)"
                                                               [unitsPosition] = "unitMarkers"
                                                               (viewClusters)="setClusters($event)"
        
                                ></mr-tool-map-control-component>
                                <mr-zoom-control-component (clickedButton)="motumZoomControls($event)"></mr-zoom-control-component>
                            </div>
                         
                        <agm-map #motumAgm style="width: 100%; height: 100%;"
                                 [latitude]="latitude"
                                 [longitude]="longitude"
                                 [zoomControl]="zoomControl"
                                 [streetViewControl]="streetViewControl"
                                  (zoomChange)="zoomChange($event)"
                                 [styles]="mapStyles"
                                 [mapTypeId]="viewMap"
                                 (mapReady)="showTrafficLayer($event)"
                                 [zoom]="zoom">
        
                            <agm-marker-cluster
        
                                        *ngIf="viewClusters"
                                        imagePath="../../assets/img/theme/icon/monitoringReaction/m"
                                        imageExtension="png"
        
                                        >
                                <agm-overlay class="overlay-marker"
                                             *ngFor      = "let unitMarker of unitMarkers"
                                             [latitude]  = "unitMarker.lat"
                                             [longitude] = "unitMarker.lng" >
        
                                    <motum-custom-marker-overlay *ngIf="unitMarker"
        
                                                                  [vehicleLabels]="vehicleLabels"
                                                                  [unitMarker]="unitMarker"
                                                                  [(userIsDragging)]="userIsDragging"
                                                                  [markerVisualization]="markerVisualization">
        
                                    </motum-custom-marker-overlay>
        
                                 </agm-overlay>
                            </agm-marker-cluster>
        
                            <ng-container *ngIf="!viewClusters">
                                <agm-overlay class="overlay-marker"
        
                                             *ngFor      = "let unitMarker of unitMarkers"
                                             [latitude]  = "unitMarker.lat"
                                             [longitude] = "unitMarker.lng" >
        
                                    <motum-custom-marker-overlay *ngIf="unitMarker"
        
                                                                 [vehicleLabels]="vehicleLabels"
                                                                 [unitMarker]="unitMarker"
                                                                 [(userIsDragging)]="userIsDragging"
                                                                 [markerVisualization]="markerVisualization">
        
                                    </motum-custom-marker-overlay>
                                </agm-overlay>
                            </ng-container>
        
                            <agm-polygon *ngFor = "let points of listOfPaths"
        
                            strokeColor="dodgerBlue" fillColor="skyBlue"
                            [paths]="points.paths"
                            [editable]="geoFenceEditable"
                            [visible]="points.selected"
                            (polyClick)="editGeoFence($event)">
        
                            </agm-polygon>
                          
                        </agm-map>
        -->
                        </div>
                    <!--
                        <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                        <div class="row window-body-margin">
                          <div class="col-md-6 col-sm-12 motum-content-left-form">
                              <label class="window-bold-style motum-subtitle-form in-form">{{ rutaDef | translate}}</label>
                              <select [(ngModel)]="routeId" name="routeId" id="inputCountry" class="form-control input-sm" (change)="selectRouteData();">
                                <option selected="" value=""></option>  
                                <option [ngValue]="k.routeid" *ngFor="let k of arrRoutes">  
                                  {{k.placesource}} {{k.placetarget}}  
                                </option>
                              </select>
                              
                              <div class="row motum-label-form space">
                             
                                <div class="col-md-12 spaceTitle">
                                  <label for="inputFiscalComercialName">{{ origenDef | translate }}</label>
                                </div>
                               
                                <div class=" col-md-12 col-sm-12">
                                <div class="form-group has-success motum-input-form">
                                  <label class="window-bold-style motum-subtitle-form in-form">{{ routeSource }}</label>

                                   
                                </div>
                              </div>
                            </div>

                            <div class="row motum-label-form">
                              <div class="col-md-12">
                                <label for="inputFiscalBusinessName">{{ destinoDef | translate }}</label>
                              </div>
                              <div class=" col-md-12 col-sm-12">
                                <div class="form-group has-success motum-input-form">
                                  <label class="window-bold-style motum-subtitle-form in-form">{{ routeTarget }}</label>

                                </div>
                              </div>
                            </div>
                            
                            <div  class="row motum-label-form">
                              <div class="col-md-12">
                                <label for="inputFiscalRfc">{{ ubicacionesDef | translate }}</label>
                              </div>
                              

                            <div class="table-responsive table-style-motum">
                              <table class="table table-striped">
                                <thead class="thead-light">
                                  <tr class="m-0">
                                    <th class="w-20">Id</th>
                                    <th class="w-20">Lugar</th>
                                    <th class="w-45">Mensaje</th>
                                    <th class="w-10">Status</th>
                                 
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of arrRouteDetail">
                                    <td>
                                      {{item.routeid}}
                                    </td>
                                    <td>
                                      {{item.placeid}}
                                    </td>
                                    <td>
                                      <div class="form-group has-success motum-input-form">
                                        <input [(ngModel)]="clientModel.rfc" type="text" value="Proxima parada, bajar velocidad"
                                          class="form-control input-sm" id="inputRfc" 
                                          [ngModelOptions]="{standalone: true}" required>
                                      </div>                                    
                                    </td>
                                    <td>
                                        <div class="form-group has-success motum-input-form">
                                            <input [(ngModel)]="clientModel.rfc" type="checkbox"
                                              class="form-control input-sm" id="inputRfc" 
                                              [ngModelOptions]="{standalone: true}" required>
                                          </div>
                                   >
                                    </td>
                                  </tr>

                                  
                                </tbody>
                              </table>
                            </div>
                            
      
                          </div> 
                          
                          <hr class="motum-hr-separator">
                       


                          <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                            <div class="window-left-margin">

                            </div>
                          </div>
      



                          </div>
                        </div>
                      </form>
                    -->
                    </div>
                    <div class="section-footer">
                      <div class="row">
                        <div class="col-md-8 hidden-md-down">
                        </div>
                        <div class="col-md-1 col-sm-4">
                          <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                        </div>
                        <div class="col-md-1 col-sm-4">
                          <button type="button" class="motum-btn-delete btn btn-primary window-btn-size  motum-btn" (click)="t.select('tabCliente')">{{ back | translate}}</button>
                        </div>
                        <div class="col-md-1 col-sm-4">
                          <button type="submit" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabCuenta')">{{ next | translate}}</button>
                        </div>
                      </div>
                  </div>
                </ng-template>
      
              </ngb-tab>

       
      </ngb-tabset>
    </div>
  </div>
  </div>
</div>
