<motum-modal-form *ngIf="windowPosition != null" [align]="windowPosition" [hasTabs]="true" [cols]="2">
  <ng-template #modalSendInvitation let-c="close" let-d="dismiss">
      <div class="modal-header">
        <div class="motum-modal-icon">
          <i class="motum-i tm-e91a changeofpropertiesmessage"></i>
        </div>
        <h5 class="modal-title">{{ header | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ content | translate }} ejemplo@bwl.com {{ contents | translate }}</p>
      </div>
      <div class="modal-footer longbutton">
        <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ accept | translate }}</button>
      </div>
  </ng-template>
  <ng-template #modalPassword let-c="close" let-d="dismiss">
      <div class="modal-header">
        <div class="motum-modal-icon">
          <i class="motum-i tm-mu tm-mensajes changeofpropertiesmessage"></i>
        </div>
        <h5 class="modal-title"> {{'pages.confirmationwindowClient.header' | translate }} </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'pages.confirmationwindowClient.content' | translate}} {{clientModel.account.email}} {{ 'pages.confirmationwindowClient.contents' | translate}}</p>
      </div>
      <div class="modal-footer window-center-align">
        <button type="button" class="btn motum-btn-confirm button-long " (click)="c(true)">{{ 'pages.confirmationwindowClient.sendbutton' | translate}}</button>
      </div>
  </ng-template>
    <div modal-form-header>
        <div class="row" *ngIf="editar && windowPosition === 'right'">
            <div class="motum-avatar-section">
                <motum-avatar [name]="initials"
                              [type]="'NAME'"></motum-avatar>
              </div>
              <div class="motum-avatar-labelEdit">
                  <div class="name">
                    {{clientModel.commercialName}}
                  </div>
                  <div>
                    {{clientModel.businessName}}
                  </div>
            </div>
        </div>
        <div class="row" *ngIf="!editar">
            <div class="motum-avatar-section">
              <motum-avatar [name]="'motum-i tm-e932'"
                            [textColor]="'#ffffff'"
                            [bgColor]="'#6666f7'"
                            [isIconResize]="true"
                            [hasBorder]="false"
                            [type]="'ICON'"></motum-avatar>
            </div>
            <div>
              <div class="motum-avatar-labelCreate"> <!--{{ title | translate }} --> CONSULTA DE VIAJE</div>
            </div>
        </div>
    </div> <!--END MODAL-FORM-HEADER-->
    <div modal-form-content>
        <ngb-tabset  #t="ngbTabset" [justify]="'end'" [activeId]="activeTab" (tabChange)="activeTab = $event.nextId">
            
            <ngb-tab  id="tabInterface" title="{{ interface | translate }}">
                <ng-template ngbTabContent>
                        <div class="window-body">
                          <!--
                          <div class="section-head">
                            <p class="section-title motum-title-form" *ngIf="editar">{{ editClientTrans | translate }}</p>
                            <p class="section-title motum-title-form" *ngIf="!editar">{{ createClientTrans | translate }}</p>
                            <hr class="window-section-space motum-hr-head-form"> 
                          </div>
                          -->
            
                          <div class="section-body">
        
                            <!--
                              <h1>{{ agmtitle }}</h1>
        
                                      <agm-map #map [latitude]="lat" [longitude]="lng">
                                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                      </agm-map>
                            -->
                            
                            <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                              <div class="row window-body-margin">

                                <div class="col-md-6 col-sm-16 motum-content-left-form">
                                  <!--
                                    <label class="window-bold-style motum-subtitle-form in-form">{{ companyInformation | translate }}</label>
                                  -->
                                    <div class="row motum-label-form">

                                    <div class="col-md-6 ">
                                      <label for="inputComercialName">{{ begin | translate }}  </label>
                                      <div class="form-group has-success motum-input-form">
                                          <input [(ngModel)]="beginData" type="date" class="form-control input-sm" id="inputComercialName" [ngModelOptions]="{standalone: true}" required>
                                          
                                        </div>
                                    </div>

                                    <div class=" col-md-4 col-sm-4">
                                        <div class="col-md-12">
                                            <label for="inputColony">{{ beginDet | translate }}</label>
                                          </div>
                                          
                                          <div class="col-md-12 col-sm-12">
                                            
                                            <label for="beginData">{{ beginData }}</label>
                
                                          </div>
                                    </div>
                                  </div>

                                  <div class="row motum-label-form">
                                    <div class="col-md-6">
                                      <label for="inputBusinessName">{{ end | translate }}</label>
                                      <div class="form-group has-success motum-input-form">
                                          <input [(ngModel)]="endData" type="date" class="form-control input-sm" id="inputBusinessName" [ngModelOptions]="{standalone: true}" required>
                                        </div>
                                    </div>
                                    <div class=" col-md-4 col-sm-4">
                                        <div class="col-md-12">
                                            <label for="inputMunicipality">{{ endDet | translate }}</label>
                                          </div>
                                          <div class="col-md-12 col-sm-12">
                                              <label for="endData"> {{ endData }} </label>
                
                
                                          </div>
                                    </div>
                                  </div>
            
                                  <div class="row motum-label-form">
                                      <div class="col-sm-6">
                                        <div class="has-success motum-input-form">
                                          <label for="inputCountry" >{{ operador | translate }}</label>
                                        
                                          
                                          <select [(ngModel)]="driverId" name="driverId" id="inputCountry" class="form-control input-sm" (change)="selectDriverData();">
                                            <option selected="" value=""></option>  
                                            <option [ngValue]="k.driverid" *ngFor="let k of arrDrivers">  
                                                {{k.name}} {{k.lastname}}  
                                            </option>  
                                          </select>
                                    
                                    
                                      </div>
                                      </div>

                                      <div class=" col-md-4 col-sm-4">
                                          

                                      <div class="col-md-8  col-sm-12 spaceTelPadding">
                                          <div class=" has-success motum-input-form motum-intl-tel-input">
                                            <label for="">{{ operadorDet | translate }}</label><br>
                                          
                                          </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                          <div class=" has-success motum-input-form">
                                            <label for="inputnumberExtension">{{ driverId }}</label><br>
                                            <label for="inputnumberExtension">{{ driverName }}</label><br>
                                            <label for="inputnumberExtension">{{ driverLicense }}</label><br>
                                          
                                          
                                          </div>
                                        </div>
                                   
                                    </div>
                                  </div>
                                  <div class="row motum-label-form">
                                      <div class="col-sm-6">
                                        <div class="has-success motum-input-form">
                                          <label for="inputCountry" >{{ unidad | translate }}</label>
                                          
                                          <select [(ngModel)]="truckId" name="truckId" id="inputCountry" class="form-control input-sm" (change)="selectTruckData();">
                                            <option selected="" value=""></option>  
                                            <option [ngValue]="k.trucknumber" *ngFor="let k of arrTrucks">  
                                              {{k.trucknumber}}  
                                            </option>  
                                         </select>
                                   
                                          
                                        </div>
                                      </div>
                                 
                                      <div class=" col-md-4 col-sm-4">

                                      <div class="col-md-8  col-sm-12 spaceTelPadding">
                                        <div class=" has-success motum-input-form motum-intl-tel-input">
                                          <label for="">{{ unidadDet | translate }}</label><br>
                                        
                                        </div>
                                      </div>

                                      <div class="col-md-4 col-sm-12">
                                        <div class=" has-success motum-input-form">
                                        
                                         <div class=" has-success motum-input-form">
                                          <label for="inputnumberExtension">{{ truckBrand }}</label><br>
                                          <label for="inputnumberExtension">{{ truckModel }}</label><br>
                                          <label for="inputnumberExtension">{{ truckYear }}</label><br>
                                          <label for="inputnumberExtension">{{ truckPlate }}</label><br>
                                        
                                          
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                    
                                  <div class="row motum-label-form">
                                    <div class="col-sm-6">
                                      <div class="has-success motum-input-form">
                                        <label for="inputCountry" >{{ remolque1 | translate }}</label>
                                 
                                        <select [(ngModel)]="trailer1Id" name="trailer1Id" id="inputCountry" class="form-control input-sm" (change)="selectTrailer1Data();">
                                          <option selected="" value=""></option>  
                                          <option [ngValue]="k.trailernumber" *ngFor="let k of arrTrailers">  
                                            {{k.trailernumber}}  
                                          </option>  
                                       </select>
                                 
                                      
                                        
                                      </div>
                                    </div>
                                 
                                    <div class=" col-md-4 col-sm-4">
                                        <div class="col-md-8  col-sm-12 spaceTelPadding">
                                            <div class="has-success motum-input-form motum-intl-tel-input">
                                              <label for="">{{ remolque1Det | translate }}</label><br>
                                            
                                             
                                          </div>
                                          </div>
                
                                          <div class="col-sm-4 motum-label-form space">
                                            <div class="has-success motum-input-form">
                                             
                                              <div class=" has-success motum-input-form">
                                                <label for="inputnumberExtension">{{ trailer1Brand }}</label><br>
                                                <label for="inputnumberExtension">{{ trailer1Type }}</label><br>
                                                <label for="inputnumberExtension">{{ trailer1Model }}</label><br>
                                                <label for="inputnumberExtension">{{ trailer1Year }}</label><br>
                                                <label for="inputnumberExtension">{{ trailer1Plate }}</label><br>
                                              
                                               
                                              </div>
                                            </div>
                                          </div>
  

                                    </div>
                                  </div>
            
                                  <div class="row motum-label-form moreSpace">
                                      <div class="col-sm-6">
                                        <div class="has-success motum-input-form">
                                          <label for="inputState">{{ dolly | translate }}</label>
                                          <select [(ngModel)]="dollyId" name="dollyId" id="inputCountry" class="form-control input-sm" (change)="selectDollyData();">
                                            <option selected="" value=""></option>  
                                            <option [ngValue]="k.dollynumber" *ngFor="let k of arrDollys">  
                                              {{k.dollynumber}}  
                                            </option>  
                                         </select>
                                   
                                          
                                        </div>
                                      </div>
                                      
                                      <div class=" col-md-4 col-sm-4">
                                          <div class="col-md-8  col-sm-12 spaceTelPadding">
                                              <div class="has-success motum-input-form motum-intl-tel-input">
                                                <label for="inputServer">{{ dollyDet | translate }}</label>
                                              
                                               
                                            </div>
                                            </div>
                  
                                            <div class="col-sm-4 motum-label-form space">
                                              <div class="has-success motum-input-form">
                                               
                                                <div class=" has-success motum-input-form">
                                                  <label for="inputnumberExtension">{{ dollyBrand }}</label><br>
                                                  <label for="inputnumberExtension">{{ dollyModel }}</label><br>
                                                  <label for="inputnumberExtension">{{ dollyYear }}</label><br>
                                             
                                                 
                                                </div>
                                              </div>
                                            </div>
                                      
                                      </div>
                                   
                                    </div>
              
                                  
                                  <div class="row motum-label-form moreSpace">
                                    <div class="col-sm-6">
                                      <div class="has-success motum-input-form">
                                        <label for="inputState">{{ remolque2 | translate }}</label>
        
                                        <select [(ngModel)]="trailer2Id" name="trailer2Id" id="inputCountry" class="form-control input-sm" (change)="selectTrailer2Data();">
                                          <option selected="" value=""></option>  
                                          <option [ngValue]="k.trailernumber" *ngFor="let k of arrTrailers">  
                                            {{k.trailernumber}}  
                                          </option>  
                                       </select>
                                 
                                        
                                      </div>
                                    </div>
                                 
                                    <div class=" col-md-4 col-sm-4">
                                        <div class="col-md-8">
                                            <label for="inputSector">{{ remolque2Det | translate }}</label>
                                          </div>
                                          <div class="col-md-4 col-sm-12">
                                            <div class=" has-success motum-input-form">
                                              <label for="inputnumberExtension">{{ trailer2Brand }}</label><br>
                                              <label for="inputnumberExtension">{{ trailer2Type }}</label><br>
                                              <label for="inputnumberExtension">{{ trailer2Model }}</label><br>
                                              <label for="inputnumberExtension">{{ trailer2Year }}</label><br>
                                              <label for="inputnumberExtension">{{ trailer2Plate }}</label><br>
                                            
                                             
                                            </div>
                                          </div>

                                    </div>
                                  </div>
            
                                </div>
                                
                                
                                <hr class="motum-hr-separator"> 
            
            
                                <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                                  <div class="window-left-margin">

                                      <div class="row motum-label-form moreSpace">
                                          <div class="col-sm-6">
                                            <div class="has-success motum-input-form">
                                               
                                                <label class="window-bold-style motum-subtitle-form in-form">{{ rutaDef | translate}}</label>
                                                <select [(ngModel)]="routeId" name="routeId" id="inputCountry" class="form-control input-sm" (change)="selectRouteData();">
                                                  <option selected="" value=""></option>  
                                                  <option [ngValue]="k.routeid" *ngFor="let k of arrRoutes">  
                                                    {{k.placesource}} {{k.placetarget}}  
                                                  </option>
                                                </select>
                                                                                       
                                              
                                            </div>
                                          </div>
                                       
                                          <div class=" col-md-4 col-sm-4">
                                              
                                              <div class="row motum-label-form space">
                                          

                                                  <div class="col-md-12 spaceTitle">
                                                    <label for="inputFiscalComercialName">{{ origenDef | translate }}</label>
                                                  </div>
                                                 
                                                  <div class=" col-md-12 col-sm-12">
                                                  <div class="form-group has-success motum-input-form">
                                                    <label class="window-bold-style motum-subtitle-form in-form">{{ routeSource }}</label>
                  
                                                     
                                                  </div>
                                                </div>
                                              </div>
                  
                                              <div class="row motum-label-form">
                                                <div class="col-md-12">
                                                  <label for="inputFiscalBusinessName">{{ destinoDef | translate }}</label>
                                                </div>
                                                <div class=" col-md-12 col-sm-12">
                                                  <div class="form-group has-success motum-input-form">
                                                    <label class="window-bold-style motum-subtitle-form in-form">{{ routeTarget }}</label>
                  
                                                  </div>
                                                </div>
                                              </div>
           
      
                                          </div>
                                        </div>
                  
                                                                    
                                    
                                    <div  class="row motum-label-form">
                                      <div class="col-md-12">
                                      <img src="https://alicantenews.es/wp-content/uploads/2015/06/Google-Maps.jpg" width="600" height="500"> 
                                      </div>
                                      </div>
                                     </div>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="section-footer">
                            <div class="row">
                              <div class="col-md-9 hidden-md-down">
                              </div>
                              <div class="col-md-1 col-sm-4">
                                <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                              </div>
                              <div class="col-md-1 col-sm-4">
                                <button type="button" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabFacturacion')">{{ next | translate}}</button>
                              </div>
                            </div>
                          </div>
                        </div>
                </ng-template>
  
            </ngb-tab> <!-- End tabInterface -->
 
            <ngb-tab  id="tabPermissions" title="{{ permissions | translate }}">
                <ng-template ngbTabContent>
                    <div class="window-body">
                        
                        <div class="section-body">
      
                          
                          <form (ngSubmit)="createClient()"  class="ng-untouched ng-pristine ng-valid">
                            <div class="row window-body-margin">

                              <div class="col-md-6 col-sm-16 motum-content-left-form">

                                <div class="row motum-label-form moreSpace">
                                    <div class="col-sm-6">
                                      <div class="has-success motum-input-form">
                                         
                                          <label class="window-bold-style motum-subtitle-form in-form"> 
                                            <b>{{ rutaDef | translate}}</b>
                                          
                                          </label>
                                                                                 
                                        
                                      </div>
                                      </div>
                                 </div> 

                                        
                                        <div class="row motum-label-form space">
                                    

                                            <div class="col-md-12 spaceTitle">
                                              <label for="inputFiscalComercialName">
                                              <b> {{ origenDef | translate }} : </b>
                                              {{ routeSource }}
                                              </label>
                                            </div>
                                           
                                           
                                        </div>
            
                                        <div class="row motum-label-form space">
                                    

                                            
                                            <div class=" col-md-12 col-sm-12">
                                            <div class="form-group has-success motum-input-form">
                                              <label class="window-bold-style motum-subtitle-form in-form"> 
                                                Dirección: {{ routeSource }}</label>
            
                                               
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row motum-label-form">
                                          <div class="col-md-12">
                                            <label for="inputFiscalBusinessName">
                                              <b>{{ destinoDef | translate }}: </b> 
                                              {{ routeTarget }}
                                            </label>
                                          </div>
                                          
                                        </div>
     

                                        <div class="row motum-label-form">
                                            
                                            <div class=" col-md-12 col-sm-12">
                                              <div class="form-group has-success motum-input-form">
                                                <label class="window-bold-style motum-subtitle-form in-form">
                                                  Direccion: {{ routeTarget }}</label>
              
                                              </div>
                                            </div>
                                          </div>
       
                                          <div class="table-responsive table-style-motum">
                                              <table class="table table-striped">
                                                <thead class="thead-light">
                                                  <tr class="m-0">
                                                    <th class="w-20">Kilometros</th>
                                                    <th class="w-20">Litros</th>
                                                    <th class="w-20">Km/L</th>
                                                    <th class="w-20">Precio Litro</th>
                                                    <th class="w-20">Costo</th>
                                                 
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                        <div class="form-group has-success motum-input-form">
                                                            <input [(ngModel)]="clientModel.rfc" type="text" value="0.0"
                                                              class="form-control input-sm" id="inputRfc" 
                                                              [ngModelOptions]="{standalone: true}" required>
                                                          </div>

                                                    </td>
                                                    <td>

                                                        <div class="form-group has-success motum-input-form">
                                                            <input [(ngModel)]="clientModel.rfc" type="text" value="0.0"
                                                              class="form-control input-sm" id="inputRfc" 
                                                              [ngModelOptions]="{standalone: true}" required>
                                                          </div>

                                                    </td>
                                                    <td>
                                                      <div class="form-group has-success motum-input-form">
                                                        <input [(ngModel)]="clientModel.rfc" type="text" value="0.0"
                                                          class="form-control input-sm" id="inputRfc" 
                                                          [ngModelOptions]="{standalone: true}" required>
                                                      </div>                                    
                                                    </td>
                                                    <td>
                                                        <div class="form-group has-success motum-input-form">
                                                            <input [(ngModel)]="clientModel.rfc" type="text" value="0.0"
                                                              class="form-control input-sm" id="inputRfc" 
                                                              [ngModelOptions]="{standalone: true}" required>
                                                          </div>
                                                   
                                                    </td>
                                                    <td>
                                                        <div class="form-group has-success motum-input-form">
                                                            <input [(ngModel)]="clientModel.rfc" type="text" value="0.0"
                                                              class="form-control input-sm" id="inputRfc" 
                                                              [ngModelOptions]="{standalone: true}" required>
                                                          </div>
                                                   
                                                    </td>
                                                  </tr>
                
                                                  
                                                </tbody>
                                              </table>
                                            </div> 
                              
                            </div>

                              <hr class="motum-hr-separator"> 
          
          
                              <div class="col-md-5 col-sm-12 motum-content-right-form-interface">
                                <div class="window-left-margin">

                                  
                                                                  
                                  
                                  <div  class="row motum-label-form">
                                    <div class="col-md-12">
                                      <img src="https://alicantenews.es/wp-content/uploads/2015/06/Google-Maps.jpg" width="600" height="500"> 
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                            </div>
                          
                          </form>
                        </div>
                        <div class="section-footer">
                          <div class="row">
                            <div class="col-md-9 hidden-md-down">
                            </div>
                            <div class="col-md-1 col-sm-4">
                              <button type="button" routerLink="/pages/usersControl/clients-products" (click) ="toggle(true, null)" class="motum-btn-delete btn btn-primary window-btn-size motum-btn cancel">{{ cancel | translate}}</button>
                            </div>
                            <div class="col-md-1 col-sm-4">
                              <button type="button" class="btn btn-primary window-btn-size motum-btn next" (click)="t.select('tabFacturacion')">{{ next | translate}}</button>
                            </div>
                          </div>
                        </div>
                      </div>

                </ng-template>

            </ngb-tab> <!-- End tabPermissions -->
 
        </ngb-tabset>

    </div> <!--END MODAL-FORM-CONTENT-->
    <div class="motum-floating-btns" align="right" modal-form-footer>
        <button motum-button
        [color]="'danger'"
        [outline]="true"
        routerLink="/pages/usersControl/clients-products">
        {{ cancel | translate }}
        </button>

        <button motum-button
        *ngIf="activeTab=='tabBilling' || activeTab=='tabAccount' || activeTab=='tabPermissions' || activeTab=='tabInterface'"
        (click)="activeTab=='tabInterface' ? t.select('tabPermissions'):'' || activeTab=='tabPermissions' ? t.select('tabAccount'):'' || activeTab=='tabAccount' ? t.select('tabBilling'):'' || activeTab=='tabBilling' ? t.select('tabClient'):''"
        [outline]="true"
        [color]="'grey'">{{activeTab=='tabBilling' ? (back | translate) : '' || activeTab=='tabAccount' ? (back | translate) : '' || activeTab=='tabPermissions' ? (back | translate) : '' || activeTab=='tabInterface' ? (back | translate) : ''}}</button>

        <button motum-button
        color="secondary"
        (click)="activeTab=='tabClient' ? t.select('tabBilling'):''|| activeTab=='tabBilling' ? t.select('tabAccount'):'' || activeTab=='tabAccount' ? t.select('tabPermissions'):'' || activeTab=='tabPermissions' ?  t.select('tabInterface'):'' || activeTab=='tabInterface' ?  createClient():createClient()">
        {{activeTab=='tabClient' ? (next | translate):'' || activeTab=='tabBilling' ? (next | translate):'' || activeTab=='tabAccount' ? (next | translate):'' || activeTab=='tabPermissions' ? (next | translate):'' || activeTab=='tabInterface' ? (save | translate):''}}
        </button>
  </div> <!--END MODAL-FORM-FOOTER-->
</motum-modal-form>

